body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
}
#formdata button,
#tp2 button {
  outline-style: none;
  vertical-align: top;
}
#formdata .form-control,
#tp2 .form-control {
  display: inline-block;
  width: 206px;
}
#formdata .alert,
#tp2 .alert {
  height: 30px;
  padding: 5px;
  text-align: center;
  width: 300px;
  margin: 10px auto;
}
